server:
  port: 8080
  servlet:
    session:
      timeout: 60m
  tomcat:
    uri-encoding: UTF-8

spring:
  application:
    name: SlySystem
  banner:
    location: classpath:logo.txt
  datasource:
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: "jdbc:sqlserver://;database=SlySystem;server=localhost;port=21433;encrypt=optional;trustServerCertificate=true"
    username: "sa"
    password: "s34+l510*y24"
  task:
    execution:
      pool:
        core-size: 16
        keep-alive: 4s
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

  jpa:
    database: SQL_SERVER
    database-platform: "org.hibernate.dialect.SQLServerDialect"
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true

